<a href="https://colab.research.google.com/github/John2617/work/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To learn more about accelerating pandas on Colab, see the [10 minute guide](https://colab.research.google.com/github/rapidsai-community/showcase/blob/main/getting_started_tutorials/cudf_pandas_colab_demo.ipynb) or
 [US stock market data analysis demo](https://colab.research.google.com/github/rapidsai-community/showcase/blob/main/getting_started_tutorials/cudf_pandas_stocks_demo.ipynb).

# ASSIGNMENT 1

In [1]:
import pandas as pd
df=pd.read_csv('Missed1.csv')

In [2]:
df.head()

,Name,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,Rob Stark,165.0,72.0,9.0,4.0,89.0
1,Sansa,150.0,48.0,6.0,NaN,NaN
2,Arya,155.0,NaN,8.0,3.0,92.0
3,Bran,162.0,NaN,7.0,NaN,NaN
4,Tywin,175.0,80.0,10.0,5.0,NaN

In [3]:
df.describe()

,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
count,31.000000,20.000000,29.000000,24.000000,19.000000
mean,166.870968,66.300000,9.965517,4.375000,79.578947
std,21.715957,15.620836,3.886632,2.318405,16.381954
min,70.000000,20.000000,3.000000,2.000000,44.000000
25%,160.000000,59.750000,7.000000,3.000000,71.000000
50%,170.000000,66.500000,10.000000,4.000000,82.000000
75%,178.500000,77.250000,12.000000,5.000000,92.000000
max,190.000000,90.000000,22.000000,10.000000,98.000000

In [4]:
df.tail()

,Name,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
29,little finger,190.0,NaN,NaN,6.0,77.0
30,aemond,NaN,78.0,22.0,8.0,44.0
31,rhaenyra,NaN,60.0,NaN,7.0,NaN
32,daemon,190.0,NaN,15.0,10.0,97.0
33,mathew,70.0,NaN,6.0,3.0,NaN

In [5]:
df.isnull().values.any()

True

In [12]:
df.isnull().sum()

Name                      0
Height (cm)               3
Weight (kg)              14
Speed (km/hr)             5
Confidence Level         10
Academic Mark Average    15
dtype: int64

In [15]:
df.isnull().values.transpose()

array([[False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
        False, False, False,  True,  True, False, False],
       [False, False,  True,  True, False, False,  True, False,  True,
        False, False,  True, False, False,  True,  True, False, False,
        False,  True,  True,  True, False, False, False,  True, False,
        False, False,  True, False, False,  True,  True],
       [False, False, False, False, False, False, False, False, False,
         True, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
         True, False,  True, False,  True, False, False],
       [False,  True, False,  True, False, False,  True, False, False,
        False,  True, False,  True, False, False,  True, False, False,
        False,  True, False, False, False, False,  True,  True,  True,
        False, False, False, False, False, False, False],
       [False,  True, False,  True,  True, False, False, False, False,
        False,  True, False,  True,  True, False,  True, False, False,
         True, False,  True,  True, False, False,  True, False,  True,
         True, False, False, False,  True, False,  True]])

In [16]:
df.isnull().sum().sum()

47

In [17]:
df['Height (cm)'].isnull().sum()

3

In [21]:
df['Weight (kg)'].isnull().sum()

14

In [23]:
df.isnull().sum().sort_values()

Name                      0
Height (cm)               3
Speed (km/hr)             5
Confidence Level         10
Weight (kg)              14
Academic Mark Average    15
dtype: int64

In [24]:
df.isnull().sum().sort_values(ascending=False)

Academic Mark Average    15
Weight (kg)              14
Confidence Level         10
Speed (km/hr)             5
Height (cm)               3
Name                      0
dtype: int64

In [26]:
df['Height (cm)'].sort_values(ascending=False)

32    190.0
7     190.0
29    190.0
16    185.0
6     183.0
13    182.0
20    181.0
19    179.0
5     178.0
11    175.0
22    175.0
4     175.0
14    173.0
23    172.0
18    172.0
9     170.0
21    170.0
12    168.0
10    167.0
0     165.0
17    164.0
3     162.0
27    160.0
15    160.0
8     160.0
25    156.0
28    156.0
2     155.0
1     150.0
24    140.0
33     70.0
26      NaN
30      NaN
31      NaN
Name: Height (cm), dtype: float64

In [27]:
df.fillna(900)

,Name,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,Rob Stark,165.0,72.0,9.0,4.0,89.0
1,Sansa,150.0,48.0,6.0,900.0,900.0
2,Arya,155.0,900.0,8.0,3.0,92.0
3,Bran,162.0,900.0,7.0,900.0,900.0
4,Tywin,175.0,80.0,10.0,5.0,900.0
5,Jaime,178.0,77.0,12.0,4.0,85.0
6,Brienne,183.0,900.0,10.0,900.0,74.0
7,Tormund,190.0,90.0,14.0,3.0,91.0
8,Samwell,160.0,900.0,6.0,2.0,68.0
9,Theon,170.0,65.0,900.0,4.0,82.0
10,Yara,167.0,63.0,11.0,900.0,900.0
11,Ramsay,175.0,900.0,15.0,5.0,98.0
12,Melisandre,168.0,59.0,9.0,900.0,900.0
13,Stannis,182.0,85.0,12.0,4.0,900.0
14,Davon,173.0,900.0,8.0,3.0,77.0
15,Gilly,160.0,900.0,5.0,900.0,900.0
16,Grey Worm,185.0,80.0,12.0,5.0,95.0
17,Missandei,164.0,57.0,6.0,3.0,78.0
18,Podrick,172.0,68.0,10.0,2.0,900.0
19,Gendry,179.0,900.0,14.0,900.0,92.0
20,Jorah,181.0,900.0,13.0,4.0,900.0
21,Varys,170.0,900.0,9.0,2.0,900.0
22,Petyr,175.0,65.0,7.0,3.0,67.0
23,John,172.0,65.0,8.0,3.0,65.0
24,joffrey,140.0,20.0,10.0,900.0,900.0
25,cersi,156.0,900.0,3.0,900.0,44.0
26,deanerys,900.0,49.0,900.0,900.0,900.0
27,aegon,160.0,70.0,900.0,2.0,900.0
28,jon snow,156.0,75.0,12.0,10.0,97.0
29,little finger,190.0,900.0,900.0,6.0,77.0
30,aemond,900.0,78.0,22.0,8.0,44.0
31,rhaenyra,900.0,60.0,900.0,7.0,900.0
32,daemon,190.0,900.0,15.0,10.0,97.0
33,mathew,70.0,900.0,6.0,3.0,900.0

In [28]:
df['Weight (kg)'].fillna(800)

0      72.0
1      48.0
2     800.0
3     800.0
4      80.0
5      77.0
6     800.0
7      90.0
8     800.0
9      65.0
10     63.0
11    800.0
12     59.0
13     85.0
14    800.0
15    800.0
16     80.0
17     57.0
18     68.0
19    800.0
20    800.0
21    800.0
22     65.0
23     65.0
24     20.0
25    800.0
26     49.0
27     70.0
28     75.0
29    800.0
30     78.0
31     60.0
32    800.0
33    800.0
Name: Weight (kg), dtype: float64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   34 non-null     object
 1   Height (cm)            31 non-null     float64
 2   Weight (kg)            20 non-null     float64
 3   Speed (km/hr)          29 non-null     float64
 4   Confidence Level       24 non-null     float64
 5   Academic Mark Average  19 non-null     float64
dtypes: float64(5), object(1)
memory usage: 1.7+ KB

In [32]:
df1=df[['Height (cm)','Weight (kg)','Speed (km/hr)','Confidence Level','Academic Mark Average']]
df.fillna(df1.mean())

,Name,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,Rob Stark,165.000000,72.0,9.000000,4.000,89.000000
1,Sansa,150.000000,48.0,6.000000,4.375,79.578947
2,Arya,155.000000,66.3,8.000000,3.000,92.000000
3,Bran,162.000000,66.3,7.000000,4.375,79.578947
4,Tywin,175.000000,80.0,10.000000,5.000,79.578947
5,Jaime,178.000000,77.0,12.000000,4.000,85.000000
6,Brienne,183.000000,66.3,10.000000,4.375,74.000000
7,Tormund,190.000000,90.0,14.000000,3.000,91.000000
8,Samwell,160.000000,66.3,6.000000,2.000,68.000000
9,Theon,170.000000,65.0,9.965517,4.000,82.000000
10,Yara,167.000000,63.0,11.000000,4.375,79.578947
11,Ramsay,175.000000,66.3,15.000000,5.000,98.000000
12,Melisandre,168.000000,59.0,9.000000,4.375,79.578947
13,Stannis,182.000000,85.0,12.000000,4.000,79.578947
14,Davon,173.000000,66.3,8.000000,3.000,77.000000
15,Gilly,160.000000,66.3,5.000000,4.375,79.578947
16,Grey Worm,185.000000,80.0,12.000000,5.000,95.000000
17,Missandei,164.000000,57.0,6.000000,3.000,78.000000
18,Podrick,172.000000,68.0,10.000000,2.000,79.578947
19,Gendry,179.000000,66.3,14.000000,4.375,92.000000
20,Jorah,181.000000,66.3,13.000000,4.000,79.578947
21,Varys,170.000000,66.3,9.000000,2.000,79.578947
22,Petyr,175.000000,65.0,7.000000,3.000,67.000000
23,John,172.000000,65.0,8.000000,3.000,65.000000
24,joffrey,140.000000,20.0,10.000000,4.375,79.578947
25,cersi,156.000000,66.3,3.000000,4.375,44.000000
26,deanerys,166.870968,49.0,9.965517,4.375,79.578947
27,aegon,160.000000,70.0,9.965517,2.000,79.578947
28,jon snow,156.000000,75.0,12.000000,10.000,97.000000
29,little finger,190.000000,66.3,9.965517,6.000,77.000000
30,aemond,166.870968,78.0,22.000000,8.000,44.000000
31,rhaenyra,166.870968,60.0,9.965517,7.000,79.578947
32,daemon,190.000000,66.3,15.000000,10.000,97.000000
33,mathew,70.000000,66.3,6.000000,3.000,79.578947

In [33]:
df1['Height (cm)'].fillna(df1['Height (cm)'].mean())

0     165.000000
1     150.000000
2     155.000000
3     162.000000
4     175.000000
5     178.000000
6     183.000000
7     190.000000
8     160.000000
9     170.000000
10    167.000000
11    175.000000
12    168.000000
13    182.000000
14    173.000000
15    160.000000
16    185.000000
17    164.000000
18    172.000000
19    179.000000
20    181.000000
21    170.000000
22    175.000000
23    172.000000
24    140.000000
25    156.000000
26    166.870968
27    160.000000
28    156.000000
29    190.000000
30    166.870968
31    166.870968
32    190.000000
33     70.000000
Name: Height (cm), dtype: float64

In [34]:
df1.fillna(df1.median())

,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,165.0,72.0,9.0,4.0,89.0
1,150.0,48.0,6.0,4.0,82.0
2,155.0,66.5,8.0,3.0,92.0
3,162.0,66.5,7.0,4.0,82.0
4,175.0,80.0,10.0,5.0,82.0
5,178.0,77.0,12.0,4.0,85.0
6,183.0,66.5,10.0,4.0,74.0
7,190.0,90.0,14.0,3.0,91.0
8,160.0,66.5,6.0,2.0,68.0
9,170.0,65.0,10.0,4.0,82.0
10,167.0,63.0,11.0,4.0,82.0
11,175.0,66.5,15.0,5.0,98.0
12,168.0,59.0,9.0,4.0,82.0
13,182.0,85.0,12.0,4.0,82.0
14,173.0,66.5,8.0,3.0,77.0
15,160.0,66.5,5.0,4.0,82.0
16,185.0,80.0,12.0,5.0,95.0
17,164.0,57.0,6.0,3.0,78.0
18,172.0,68.0,10.0,2.0,82.0
19,179.0,66.5,14.0,4.0,92.0
20,181.0,66.5,13.0,4.0,82.0
21,170.0,66.5,9.0,2.0,82.0
22,175.0,65.0,7.0,3.0,67.0
23,172.0,65.0,8.0,3.0,65.0
24,140.0,20.0,10.0,4.0,82.0
25,156.0,66.5,3.0,4.0,44.0
26,170.0,49.0,10.0,4.0,82.0
27,160.0,70.0,10.0,2.0,82.0
28,156.0,75.0,12.0,10.0,97.0
29,190.0,66.5,10.0,6.0,77.0
30,170.0,78.0,22.0,8.0,44.0
31,170.0,60.0,10.0,7.0,82.0
32,190.0,66.5,15.0,10.0,97.0
33,70.0,66.5,6.0,3.0,82.0

In [35]:
df2=df1['Confidence Level'].fillna(df1['Confidence Level'].median())
print(df2)

0      4.0
1      4.0
2      3.0
3      4.0
4      5.0
5      4.0
6      4.0
7      3.0
8      2.0
9      4.0
10     4.0
11     5.0
12     4.0
13     4.0
14     3.0
15     4.0
16     5.0
17     3.0
18     2.0
19     4.0
20     4.0
21     2.0
22     3.0
23     3.0
24     4.0
25     4.0
26     4.0
27     2.0
28    10.0
29     6.0
30     8.0
31     7.0
32    10.0
33     3.0
Name: Confidence Level, dtype: float64

In [38]:
df1.fillna(df1.mode().iloc[0])

,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,165.0,72.0,9.0,4.0,89.0
1,150.0,48.0,6.0,3.0,44.0
2,155.0,65.0,8.0,3.0,92.0
3,162.0,65.0,7.0,3.0,44.0
4,175.0,80.0,10.0,5.0,44.0
5,178.0,77.0,12.0,4.0,85.0
6,183.0,65.0,10.0,3.0,74.0
7,190.0,90.0,14.0,3.0,91.0
8,160.0,65.0,6.0,2.0,68.0
9,170.0,65.0,6.0,4.0,82.0
10,167.0,63.0,11.0,3.0,44.0
11,175.0,65.0,15.0,5.0,98.0
12,168.0,59.0,9.0,3.0,44.0
13,182.0,85.0,12.0,4.0,44.0
14,173.0,65.0,8.0,3.0,77.0
15,160.0,65.0,5.0,3.0,44.0
16,185.0,80.0,12.0,5.0,95.0
17,164.0,57.0,6.0,3.0,78.0
18,172.0,68.0,10.0,2.0,44.0
19,179.0,65.0,14.0,3.0,92.0
20,181.0,65.0,13.0,4.0,44.0
21,170.0,65.0,9.0,2.0,44.0
22,175.0,65.0,7.0,3.0,67.0
23,172.0,65.0,8.0,3.0,65.0
24,140.0,20.0,10.0,3.0,44.0
25,156.0,65.0,3.0,3.0,44.0
26,160.0,49.0,6.0,3.0,44.0
27,160.0,70.0,6.0,2.0,44.0
28,156.0,75.0,12.0,10.0,97.0
29,190.0,65.0,6.0,6.0,77.0
30,160.0,78.0,22.0,8.0,44.0
31,160.0,60.0,6.0,7.0,44.0
32,190.0,65.0,15.0,10.0,97.0
33,70.0,65.0,6.0,3.0,44.0

In [39]:
df2.fillna(df2.mode().iloc[0])

0      4.0
1      4.0
2      3.0
3      4.0
4      5.0
5      4.0
6      4.0
7      3.0
8      2.0
9      4.0
10     4.0
11     5.0
12     4.0
13     4.0
14     3.0
15     4.0
16     5.0
17     3.0
18     2.0
19     4.0
20     4.0
21     2.0
22     3.0
23     3.0
24     4.0
25     4.0
26     4.0
27     2.0
28    10.0
29     6.0
30     8.0
31     7.0
32    10.0
33     3.0
Name: Confidence Level, dtype: float64

In [42]:
df1['Height (cm)'].fillna(df1['Height (cm)'].mode().iloc[2])

0     165.0
1     150.0
2     155.0
3     162.0
4     175.0
5     178.0
6     183.0
7     190.0
8     160.0
9     170.0
10    167.0
11    175.0
12    168.0
13    182.0
14    173.0
15    160.0
16    185.0
17    164.0
18    172.0
19    179.0
20    181.0
21    170.0
22    175.0
23    172.0
24    140.0
25    156.0
26    190.0
27    160.0
28    156.0
29    190.0
30    190.0
31    190.0
32    190.0
33     70.0
Name: Height (cm), dtype: float64

In [43]:
df1.ffill()

,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,165.0,72.0,9.0,4.0,89.0
1,150.0,48.0,6.0,4.0,89.0
2,155.0,48.0,8.0,3.0,92.0
3,162.0,48.0,7.0,3.0,92.0
4,175.0,80.0,10.0,5.0,92.0
5,178.0,77.0,12.0,4.0,85.0
6,183.0,77.0,10.0,4.0,74.0
7,190.0,90.0,14.0,3.0,91.0
8,160.0,90.0,6.0,2.0,68.0
9,170.0,65.0,6.0,4.0,82.0
10,167.0,63.0,11.0,4.0,82.0
11,175.0,63.0,15.0,5.0,98.0
12,168.0,59.0,9.0,5.0,98.0
13,182.0,85.0,12.0,4.0,98.0
14,173.0,85.0,8.0,3.0,77.0
15,160.0,85.0,5.0,3.0,77.0
16,185.0,80.0,12.0,5.0,95.0
17,164.0,57.0,6.0,3.0,78.0
18,172.0,68.0,10.0,2.0,78.0
19,179.0,68.0,14.0,2.0,92.0
20,181.0,68.0,13.0,4.0,92.0
21,170.0,68.0,9.0,2.0,92.0
22,175.0,65.0,7.0,3.0,67.0
23,172.0,65.0,8.0,3.0,65.0
24,140.0,20.0,10.0,3.0,65.0
25,156.0,20.0,3.0,3.0,44.0
26,156.0,49.0,3.0,3.0,44.0
27,160.0,70.0,3.0,2.0,44.0
28,156.0,75.0,12.0,10.0,97.0
29,190.0,75.0,12.0,6.0,77.0
30,190.0,78.0,22.0,8.0,44.0
31,190.0,60.0,22.0,7.0,44.0
32,190.0,60.0,15.0,10.0,97.0
33,70.0,60.0,6.0,3.0,97.0

In [44]:
df['Weight (kg)'].ffill()

0     72.0
1     48.0
2     48.0
3     48.0
4     80.0
5     77.0
6     77.0
7     90.0
8     90.0
9     65.0
10    63.0
11    63.0
12    59.0
13    85.0
14    85.0
15    85.0
16    80.0
17    57.0
18    68.0
19    68.0
20    68.0
21    68.0
22    65.0
23    65.0
24    20.0
25    20.0
26    49.0
27    70.0
28    75.0
29    75.0
30    78.0
31    60.0
32    60.0
33    60.0
Name: Weight (kg), dtype: float64

In [45]:
df1.bfill()

,Height (cm),Weight (kg),Speed (km/hr),Confidence Level,Academic Mark Average
0,165.0,72.0,9.0,4.0,89.0
1,150.0,48.0,6.0,3.0,92.0
2,155.0,80.0,8.0,3.0,92.0
3,162.0,80.0,7.0,5.0,85.0
4,175.0,80.0,10.0,5.0,85.0
5,178.0,77.0,12.0,4.0,85.0
6,183.0,90.0,10.0,3.0,74.0
7,190.0,90.0,14.0,3.0,91.0
8,160.0,65.0,6.0,2.0,68.0
9,170.0,65.0,11.0,4.0,82.0
10,167.0,63.0,11.0,5.0,98.0
11,175.0,59.0,15.0,5.0,98.0
12,168.0,59.0,9.0,4.0,77.0
13,182.0,85.0,12.0,4.0,77.0
14,173.0,80.0,8.0,3.0,77.0
15,160.0,80.0,5.0,5.0,95.0
16,185.0,80.0,12.0,5.0,95.0
17,164.0,57.0,6.0,3.0,78.0
18,172.0,68.0,10.0,2.0,92.0
19,179.0,65.0,14.0,4.0,92.0
20,181.0,65.0,13.0,4.0,67.0
21,170.0,65.0,9.0,2.0,67.0
22,175.0,65.0,7.0,3.0,67.0
23,172.0,65.0,8.0,3.0,65.0
24,140.0,20.0,10.0,2.0,44.0
25,156.0,49.0,3.0,2.0,44.0
26,160.0,49.0,12.0,2.0,97.0
27,160.0,70.0,12.0,2.0,97.0
28,156.0,75.0,12.0,10.0,97.0
29,190.0,78.0,22.0,6.0,77.0
30,190.0,78.0,22.0,8.0,44.0
31,190.0,60.0,15.0,7.0,97.0
32,190.0,NaN,15.0,10.0,97.0
33,70.0,NaN,6.0,3.0,NaN